/* color config */
:root {
  /* disabled button */
  --disabled: #8d8d8d;

  /* primary or default button */
  --primary: #0f62fe;
  --primary-hover: #054ada;
  --primary-active: #002d9c;
  --primary-focus: #0f62fe;

  /* secondary button */
  --secondary: #393939;
  --secondary-hover: #4c4c4c;
  --secondary-active: #161616;
  --secondary-focus: #393939;

  /* ghost button */
  --ghost: transparent;
  --ghost-hover: #ecf2ff;
  --ghost-active: #d0e2ff;
  --ghost-focus: #0f62fe;
  --ghost-disabled: #0f62fe;

  /* danger button */
  --danger: #da1e28;
  --danger-hover: #ba1b23;
  --danger-active: #750e13;
  --danger-focus: #da1e28;

  /* dark theme button */
  --dark: #1b1d22;
  --dark-hover: #2a2e35;
  --dark-active: #323741;
  --dark-focus: #1b1d22;
}

button {
  font-family: Arial;
  height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid transparent;
  outline: none;
  color: white;
}

.flex {
  display: flex;
}

/* button sizes */
.sm {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.md {
  padding-left: 20px;
  padding-right: 20px;
}

.lg {
  height: auto;
  padding: 25px;
  font-size: 1.25rem;
}

/* button themes */

/* disabled */

.disabled {
  background-color: #c6c6c6;
  color: #8d8d8d;
}

/* primary */

.primary {
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.primary:active {
  background-color: var(--primary-active);
}

.primary:focus {
  border: 1px solid white;
  box-shadow: 0px 0px 1px 2px var(--primary-focus);
}

/* secondary */

.secondary {
  background-color: var(--secondary);
}

.secondary:hover {
  background-color: var(--secondary-hover);
}

.secondary:active {
  background-color: var(--secondary-active);
}

.secondary:focus {
  border: 1px solid white;
  box-shadow: 0px 0px 1px 2px var(--secondary-focus);
}

/* ghost */

.ghost {
  color: #0f62fe;
  background-color: var(--ghost);
}

.ghost:hover {
  background-color: var(--ghost-hover);
}

.ghost:active {
  background-color: var(--ghost-active);
}

.ghost:focus {
  box-shadow: 0px 0px 2px 2px var(--ghost-focus);
}

.ghost-disabled {
  background-color: #fff;
  color: var(--ghost-disabled);
}

/* danger */

.danger {
  background-color: var(--danger);
}

.danger:hover {
  background-color: var(--danger-hover);
}

.danger:active {
  background-color: var(--danger-active);
}

.danger:focus {
  border: 1px solid white;
  box-shadow: 0px 0px 1px 2px var(--danger-focus);
}

/* dark */

.dark {
  color: #ececed;
  background-color: var(--dark);
}

.dark:hover {
  background-color: var(--dark-hover);
}

.dark:active {
  background-color: var(--dark-active);
}

.dark:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 1px 2px var(--dark-focus);
}

/* icon */

.icon-left {
  margin-right: 10px;
}

.icon-right {
  margin-left: 10px;
}

.icon-sm {
  height: 16px;
  width: 16px;
}

.icon-md {
  height: 18px;
  width: 18px;
}

.icon-lg {
  height: 26px;
  width: 26px;
}
